*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.idea/compiler.xml
.idea/copyright/
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
InitActivity/assets/
InitActivity/bin/
InitActivity/build/generated/assets/
InitActivity/build/generated/res/
InitActivity/build/generated/source/aidl/
InitActivity/build/generated/source/apt/
InitActivity/build/generated/source/rs/
InitActivity/build/intermediates/bundles/debug/aidl/
InitActivity/build/intermediates/bundles/debug/assets/
InitActivity/build/intermediates/bundles/debug/libs/
InitActivity/build/intermediates/bundles/release/aidl/
InitActivity/build/intermediates/bundles/release/assets/
InitActivity/build/intermediates/bundles/release/libs/
InitActivity/build/intermediates/dependency-cache/
InitActivity/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
InitActivity/build/intermediates/incremental/packageDebugAndroidTest/
InitActivity/build/intermediates/incremental/packageDebugResources/aapt-temp/
InitActivity/build/intermediates/incremental/packageReleaseResources/aapt-temp/
InitActivity/build/intermediates/incremental/processDebugAndroidTestResources/
InitActivity/build/intermediates/incremental/processDebugResources/
InitActivity/build/intermediates/incremental/processReleaseResources/
InitActivity/build/intermediates/lint/
InitActivity/build/intermediates/manifest/tmp/
InitActivity/build/intermediates/rs/
InitActivity/build/intermediates/shaders/
InitActivity/build/intermediates/transforms/mergeJavaRes/
InitActivity/build/tmp/
InitActivity/res/raw/
app/release/live1.0.0_2016-09-30_Default.apk
app/release/live1.0.0_2016-10-17_Default.apk
app/release/live1.0.0_2016-10-19_Default.apk
app/release/live1.0.0_2016-10-22_Default.apk
app/release/live1.0.0_2016-10-23_Default.apk
app/release/live1.0.0_2016-10-25_Default.apk
app/release/live1.0.0_2016-10-26_Default.apk
app/release/live1.0.0_2016-10-27_Default.apk
app/release/live1.0.0_2016-10-28_Default.apk
app/release/live1.0.0_2016-10-31_Default.apk
app/release/live1.0.0_2016-11-01_Default.apk
app/release/live1.0.0_2016-11-02_Default.apk
app/release/live1.0.0_2016-11-03_Default.apk
app/release/live1.0.0_2016-11-04_Default.apk
app/release/live1.0.0_2016-11-10_Default.apk
app/release/live1.0.0_2016-11-11_Default.apk
app/release/live1.0.0_2016-11-14_Default.apk
app/src/main/java/tv/kuainiu/modle/UploadInfo.java
knife/
vitamio/.classpath
vitamio/.project
vitamio/.settings/
vitamio/AndroidManifest.xml
vitamio/README.md
vitamio/assets/
vitamio/bin/
vitamio/gen/
vitamio/proguard-project.txt
vitamio/project.properties
vitamio/res/drawable-hdpi/
vitamio/res/drawable-ldpi/
vitamio/res/drawable-mdpi/
vitamio/res/drawable-xhdpi/
vitamio/res/drawable/
vitamio/src/io/
