<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="tv.kuainiu">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />
    <uses-sdk tools:overrideLibrary="tv.danmaku.ijk.media.player_arm64" />
    <!-- permission list -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- android:maxSdkVersion="18"/> -->
    <!-- <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/> -->
    <!-- ShareSDK start -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- TODO 管理设备账号 是否可取消？ -->
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <!-- JPUSH start -->
    <permission
        android:name="tv.kuainiu.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="tv.kuainiu.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- TODO Run time -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <!-- JPUSH end -->


    <!-- 二维码相机权限 -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.autofocus" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".MyApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <activity
            android:name=".ui.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.GuideActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.me.activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.me.activity.Register1Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.region.RegionSelectionActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.me.activity.ForgetPassword1Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.me.activity.ForgetPassword2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.me.activity.MessageLoginOneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.me.activity.MessageLoginTwoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.me.activity.MessageLoginThreeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.me.activity.PersonalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.me.activity.PerfectPersonalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.me.activity.IdentityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.me.activity.UpdatePhone1Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.me.activity.UpdatePhone2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.me.activity.BindEmailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.me.activity.AlterPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.me.activity.ChooseRegionActivity"
            android:screenOrientation="portrait" />
        <!--我的预约-->
        <activity
            android:name=".ui.me.appointment.AppointmentActivity"
            android:screenOrientation="portrait" />
        <!--我的直播-->
        <activity
            android:name=".ui.me.appointment.MyLiveActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".utils.TakePhotoActivity" />
        <activity
            android:name=".ui.teachers.activity.TeacherZoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.teachers.activity.TeacherZoneActivity2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.WebActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.articles.activity.PostListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.articles.activity.PostZoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.articles.activity.PicturePreviewFullScreenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.comments.CommentListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.me.activity.CollectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.me.activity.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.me.activity.FollowActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.me.activity.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.down.activity.DownloadActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.down.activity.DownloadIngActivity" />
        <activity
            android:name=".ui.liveold.PlayLiveActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.liveold.ReplayLiveActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.video.VideoActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:screenOrientation="sensor" />

        <!-- 发布 -->
        <!-- 发布动态 -->
        <activity
            android:name=".ui.publishing.dynamic.PublishDynamicActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- 发布文章 -->
        <activity
            android:name=".ui.publishing.article.PublishArticleActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- 发布声音 -->
        <activity
            android:name=".ui.publishing.voice.PublishVoiceActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- 发布文章 -->
        <activity
            android:name=".ui.publishing.video.PublishVideoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- 选择标签 -->
        <activity
            android:name=".ui.publishing.pick.PickTagsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- 选择文章 -->
        <activity
            android:name=".ui.publishing.pick.PickArticleActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- 反馈 -->
        <activity
            android:name=".ui.me.activity.FeedbackActivity"
            android:screenOrientation="portrait" />
        <!-- 反馈 -->
        <activity
            android:name=".ui.message.activity.MessageActivityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.message.activity.MessageActivityCollectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.message.activity.MessageCommentActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.message.activity.MessageDetailsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.message.activity.MessageHomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.message.activity.MessageSystemActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SelectPictureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.PicturePreviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <data android:scheme="tencent100371282" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".ui.down.DownloadService"
            android:enabled="true" />
        <!--
                 <service
                 android:name="com.bokecc.sdk.mobile.demo.upload.UploadService"
                 android:enabled="true" >
             </service>
        -->
        <!-- 微信分享回调 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- JPUSH start -->
        <!-- Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>

        <!-- Required SDK核心功能 -->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" />

        <!-- Required SDK 核心功能 -->
        <!-- option since 2.0.5 可配置PushService，DaemonService,PushReceiver,AlarmReceiver的android:process参数 将JPush相关组件设置为一个独立进程 -->
        <!-- 如：android:process=":remote" -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- Required SDK 核心功能 since 1.8.0 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </service>

        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />
                <!-- Required 显示通知栏 -->
                <category android:name="${applicationId}" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能 -->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />

        <!-- User defined. 用户自定义的广播接收器 -->
        <receiver
            android:name=".receiver.MyReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!-- Required 用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.UNREGISTRATION" />
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!-- Required 用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!-- Required 用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- Required 用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" />
                <!-- Optional 用户接受Rich Push Javascript 回调函数的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".ui.liveold.AlarmReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="tv.kuainiu.android.intent.ALARMRECEIVER" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="${JPUSH_CHANNEL}" />

        <!-- UMENG start -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="57ea2933e0f55a5ede000898" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />
        <!-- UMENG end -->


        <!-- 百度统计 -->
        <!-- 您从百度网站获取的APP KEY，根据实际您的APP申请的APP_KEY进行修改 -->
        <meta-data
            android:name="BaiduMobAd_STAT_ID"
            android:value="ac661f34e1" />
        <!-- 渠道商编号 -->
        <meta-data
            android:name="BaiduMobAd_CHANNEL"
            android:value="Baidu Market" />

        <!-- 是否开启错误日志统计，默认为false -->
        <meta-data
            android:name="BaiduMobAd_EXCEPTION_LOG"
            android:value="true" />
        <!-- 日志发送策略，可选值：APP_START、ONCE_A_DAY、SET_TIME_INTERVAL，默认为APP_START -->
        <meta-data
            android:name="BaiduMobAd_SEND_STRATEGY"
            android:value="APP_START" />
        <!-- 日志发送策略 为SET_TIME_INTERVAL时，需设定时间间隔(取消下行注释)。取值为1-24的整数，默认为1 -->
        <!-- <meta-data android:name="BaiduMobAd_TIME_INTERVAL" android:value="2" /> -->
        <!-- 日志仅在wifi网络下发送，默认为false -->
        <meta-data
            android:name="BaiduMobAd_ONLY_WIFI"
            android:value="false" />
        <!-- 是否获取基站位置信息 ,默认为true -->
        <meta-data
            android:name="BaiduMobAd_CELL_LOCATION"
            android:value="true" />
        <!-- 是否获取GPS位置信息，默认为true -->
        <meta-data
            android:name="BaiduMobAd_GPS_LOCATION"
            android:value="true" />
        <!-- 是否获取WIFI位置信息，默认为true -->
        <meta-data
            android:name="BaiduMobAd_WIFI_LOCATION"
            android:value="true" />
        <!-- 百度统计结束 -->
    </application>

</manifest>